<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>祝福邮件发送</title>
</head>
<body>
<table width="580" border="1" align="center">
    <caption>生日名单</caption>
    <tbody>
        <tr>
            <th width="20%" scope="col">工号</th>
            <th width="20%" scope="col">姓名</th>
            <th width="20%" scope="col">发送日期</th>
            <th width="20%" scope="col">生日日期</th>
            <th width="20%" scope="col">电话号码</th>
        </tr>
        {% if brith_list|length > 0 %}
            {% for one in brith_list %}
                    <tr>
                        <td width="20%" align="center">{{one.code}}</td>
                        <td width="20%" align="center">{{one.name}}</td>
                        <td width="20%" align="center">{{one.date}}</td>
                        <td width="20%" align="center">{{one.birthDate}}</td>
                        <td width="20%" align="center">{{one.Tel}}</td>
                    </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan=5 align="center">无人员</td></tr>
        {% endif %}
    </tbody>
</table>
<table width="580" border="1" align="center">
    <caption>司龄名单</caption>
    <tbody>
        <tr>
        <th width="20%" scope="col">工号</th>
        <th width="20%" scope="col">姓名</th>
        <th width="20%" scope="col">发送日期</th>
        <th width="20%" scope="col">司龄</th>
        <th width="20%" scope="col">电话号码</th>
        </tr>
            {% if siling_list|length > 0 %}
                {% for one in siling_list %}
                    <tr>
                        <td width="20%" align="center">{{one.code}}</td>
                        <td width="20%" align="center">{{one.name}}</td>
                        <td width="20%" align="center">{{one.date}}</td>
                        <td width="20%" align="center">{{one.flagnum}}</td>
                        <td width="20%" align="center">{{one.Tel}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                    <tr><td colspan=5 align="center">无人员</td></tr>
            {% endif %}
    </tbody>
</table>
<p class="MsoNormal" style="margin: 0 0; line-height: 20pt; text-indent: 20.25pt;"><font face="微软雅黑" style="line-height: 1.5;">致<span lang="EN-US"><o:p></o:p></span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;">礼<span lang="EN-US"><o:p></o:p></span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><span lang="EN-US"><o:p><font face="微软雅黑" style="line-height: 1.5;">&nbsp;</font></o:p></span></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;">祝您今天工作愉快！<span lang="EN-US"><o:p></o:p></span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><span lang="EN-US"><o:p><font face="微软雅黑" style="line-height: 1.5;">&nbsp;</font></o:p></span></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;"><span style="background-color: rgba(0, 0, 0, 0); line-height: 21px;">招聘&amp;员工关系部 &nbsp;Recruitment&nbsp;&amp;&nbsp;Employee&nbsp;Relations&nbsp;Department（RE）</span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;"><span lang="EN-US"></span><span lang="EN-US"></span><span lang="EN-US">---------------------------------------------------<o:p></o:p></span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;">人力资源中心 &nbsp;<span lang="EN-US"><o:p></o:p></span><span style="line-height: 21px; background-color: window;">招聘&amp;员工关系部</span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><span style="font-family: 微软雅黑; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);">武汉百捷集团股份有限公司</span></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;">地址：武汉市光谷大道九凤街百捷科技园百度大楼<span lang="EN-US">18F<o:p></o:p></span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;">电话：<span lang="EN-US">027-67801814<o:p></o:p></span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;">邮箱：<span lang="EN-US"><a href="mailto:hr6@baijiegroup.com" target="_blank" style="text-decoration: none !important;">hr6@baijiegroup.com</a><o:p></o:p></span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><span lang="EN-US"><font face="微软雅黑" style="line-height: 1.5;">---------------------------------------------------<o:p></o:p></font></span></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;">珍惜、尊重、培养、成就<span lang="EN-US"><o:p></o:p></span></font></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><span lang="EN-US"><font face="微软雅黑" style="line-height: 1.5;">www.hbbaidu.com<o:p></o:p></font></span></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><span lang="EN-US"><font face="微软雅黑" style="line-height: 1.5;">---------------------------------------------------<o:p></o:p></font></span></p>
 <p class="MsoNormal" style="margin: 0 0; line-height: 20pt;"><font face="微软雅黑" style="line-height: 1.5;">本邮件载有秘密信息，请您恪守保密义务，勿向第三人透露。谢谢合作<span lang="EN-US">! &nbsp;</span></font></p></div>
</body>
</html>